<?xml version="1.0"?>
<!--
/**
 * Coditron
 *
 * @category  Coditron
 * @package   Coditron_SampleProduct
 * @author    Coditron
 * @copyright Copyright (c) Coditron (https://coditron.com)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
       <route id="sampleproduct" frontName="sampleproduct">
            <module name="Coditron_SampleProduct" />
       </route>
    </router>
</config>
